<?xml version="1.0" ?>
<sdf xmlns:xacro="http://www.ros.org/wiki/xacro" version="1.10">
    <world name="table_world">
        <xacro:include filename="./plugins.xacro" />
        <xacro:include filename="$(env MODELS_DIR)/common/simple_light.xacro" />
        <xacro:include filename="$(env MODELS_DIR)/common/ground_plane.xacro" />
    </world>
</sdf>
