<include xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="simple_obj" params="name reference pose model">
    <link name="${name}">
        <pose>${pose}</pose>
        <visual name="${name}_visual">
            <geometry>
                <mesh>
                    <uri>${model}</uri>
                    <scale>1 1 1</scale>
                </mesh>
            </geometry>
            <material>
                <script>
                    <uri>file://media/materials/scripts/gazebo.material</uri>
                    <name>Gazebo/Grey</name>
                </script>
            </material>
        </visual>
    </link>
    <joint name="${name}_joint" type="fixed">
        <parent>${reference}</parent>
        <child>${name}</child>
    </joint>
</xacro:macro>
<xacro:macro name="lock" params="name reference pose">
    <xacro:simple_obj
        name="${name}"
        pose="${pose}"
        reference="${reference}"
        model="file:/$(env MODELS_DIR)/objects/wall/locks/Lock.stl"
    />
</xacro:macro>
<xacro:macro name="locker" params="name reference pose">
    <xacro:simple_obj
        name="${name}"
        pose="${pose}"
        reference="${reference}"
        model="file:/$(env MODELS_DIR)/objects/wall/locks/Locker.stl"
    />
</xacro:macro>

<xacro:macro name="simple_shield" params="name reference size pose img">
    <link name="${name}">
        <pose>${pose}</pose>
        <visual name="${name}_visual">
            <geometry>
                <plane>
                    <size>${size}</size>
                </plane>
            </geometry>
            <material>
                <ambient>0.8 0.8 0.8 1</ambient>
                <diffuse>0.8 0.8 0.8 1</diffuse>
                <specular>1 0.8 0.8 1</specular>
                <pbr>
                    <metal>
                        <albedo_map>${img}</albedo_map>
                        <normal_map>${img}</normal_map>
                    </metal>
                </pbr>
            </material>
        </visual>
    </link>
    <joint name="${name}_joint" type="fixed">
        <parent>${reference}</parent>
        <child>${name}</child>
    </joint>
</xacro:macro>
<xacro:macro name="shield50x80" params="name:='shield50x80' reference pose img_ref_wall">
    <xacro:simple_shield
        name="${name}"
        size="0.08 0.05"
        pose="${pose}"
        reference="${reference}"
        img="file:/$(env MODELS_DIR)/objects/wall/${img_ref_wall}"
    />
</xacro:macro>
<xacro:macro name="shield145x30" params="name:='shield145x30' reference pose img_ref_wall">
    <xacro:simple_shield
        name="${name}"
        size="0.145 0.03"
        pose="${pose}"
        reference="${reference}"
        img="file:/$(env MODELS_DIR)/objects/wall/${img_ref_wall}"
    />
</xacro:macro>
<xacro:macro name="shield100x30" params="name:='shield100x30' reference pose img_ref_wall">
    <xacro:simple_shield
        name="${name}"
        size="0.1 0.03"
        pose="${pose}"
        reference="${reference}"
        img="file:/$(env MODELS_DIR)/objects/wall/${img_ref_wall}"
    />
</xacro:macro>

<xacro:macro name="panel" params="name size model_ref_wall *material">
    <link name="${name}">
        <self_collide>false</self_collide>
        <collision name="${name}_collision">
            <geometry>
                <box>
                    <size>${size}</size>
                </box>
            </geometry>
        </collision>
        <visual name="${name}_visual">
            <geometry>
                <mesh>
                    <uri>file:/$(env MODELS_DIR)/objects/wall/${model_ref_wall}</uri>
                    <scale>1 1 1</scale>
                </mesh>
            </geometry>
            <xacro:insert_block name="material" />
        </visual>
    </link>
</xacro:macro>

</include>
