<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="platform">

<xacro:include filename="$(env MODELS_DIR)/common/utils.xacro" />

<xacro:property name="base_height" value="0.49" />
<xacro:property name="base_radius" value="0.15" />

<link name="base_link">
    <visual name="base">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh
                filename="file:///home/lab1/Projects/airstand/ros/simvis/models/airstand/platform/platform.stl"
                scale="0.01 0.01 0.01"
            />
        </geometry>
    </visual>
    <collision name="base">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry><cylinder length="${base_height}" radius="${base_radius}"/></geometry>
    </collision>

    <inertial>
        <origin rpy="0 0 0" xyz="0 0 1.0"/>
        <mass value="1"/>
        <inertia ixx="0.334" ixy="0.0" ixz="0.0" iyy="0.334" iyz="0.0" izz="0.0017"/>
    </inertial>
</link>

</robot>
